@import "tailwindcss";


@theme {
  --font-urbanist: "Urbanist", sans-serif;
  --font-spartan: "Spartan", sans-serif;

  --animate-float: floating 3s ease-in-out infinite;
  --animate-float-slow: floating 5s ease-in-out infinite;

  @keyframes floating {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
  }
}


body {
  font-family: var(--font-urbanist);
  font-weight: 400;
  color: #181818;
}
